* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.navHolder {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
}

.logo {
  width: 90vw;
  height: 10vh;
  background-image: url(../images/random-logo-black-and-white.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 5em;
  opacity: 1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(linear), color-stop(top, left), color-stop(bottom, left), color-stop(from(rgb(0, 0, 0))), to(to(rgba(0, 0, 0, 0))));
  -webkit-mask-image: linear-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(linear), color-stop(top, left), color-stop(bottom, left), color-stop(from(rgb(0, 0, 0))), to(to(rgba(0, 0, 0, 0))));
          mask-image: linear-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}

.bars {
  display: none;
  margin-left: 50px;
}

.bars .bar {
  display: block;
  width: 25px;
  margin: 0 auto;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: height 0.14s ease-in, opacity 0.16s ease-in, opacity 0.5s ease-out;
  transition: height 0.14s ease-in, opacity 0.16s ease-in, opacity 0.5s ease-out;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: light;
}

.links .active {
  height: 50px;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .bars {
    display: block;
  }
  .links {
    height: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links.active {
    opacity: 1;
    height: 100vh;
  }
}
.homeContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}
.homeContainer #heroImage {
  width: 100vw;
  background-image: url(../images/AdobeStock_349641188.jpeg);
  background-position: center center;
  background-size: cover;
  padding-bottom: 5em;
  opacity: 1;
  margin-top: 100px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(linear), color-stop(top, left), color-stop(bottom, left), color-stop(from(rgb(0, 0, 0))), to(to(rgba(0, 0, 0, 0))));
  -webkit-mask-image: linear-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(linear), color-stop(top, left), color-stop(bottom, left), color-stop(from(rgb(0, 0, 0))), to(to(rgba(0, 0, 0, 0))));
          mask-image: linear-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}
.homeContainer #heroImage .headingText {
  max-width: 90vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  color: white;
}
.homeContainer #heroImage .headingText h1 {
  font-size: 145px;
}
.homeContainer #heroImage .headingText h4 {
  max-width: 75vw;
}
.homeContainer .fillerText {
  font-size: 14px;
  width: 50vw;
  min-height: 50vh;
  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  .homeContainer {
    margin-top: 50px;
  }
  .homeContainer #heroImage {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homeContainer #heroImage .headingText h1 {
    font-size: 36px;
  }
}
.aboutCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.aboutCont .rowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.aboutCont .rowOne .indBox {
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutCont .rowOne .indBox .photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutCont .rowOne .indBox .photo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-height: 250px;
}
.aboutCont .rowOne .indBox .photo .buttonContainerTop {
  position: absolute;
  opacity: 0;
}
.aboutCont .rowOne .indBox .photo .buttonContainerTop .button {
  background-color: darkblue;
  border-radius: 30px;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutCont .rowOne .indBox .photo:hover .buttonContainerTop {
  opacity: 1;
  position: absolute;
}
.aboutCont .rowOne .indBox p {
  width: 100%;
  margin-top: 10px;
}
.aboutCont .rowOne .indBox .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.aboutCont .rowOne .indBox .buttonContainer .button {
  background-color: darkblue;
  border-radius: 30px;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.aboutCont .rowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.aboutCont .rowTwo .indBox {
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutCont .rowTwo .indBox .photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutCont .rowTwo .indBox .photo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.aboutCont .rowTwo .indBox .photo .buttonContainerTop {
  position: absolute;
  opacity: 0;
}
.aboutCont .rowTwo .indBox .photo .buttonContainerTop .button {
  background-color: darkblue;
  border-radius: 30px;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.aboutCont .rowTwo .indBox .photo:hover .buttonContainerTop {
  opacity: 1;
  position: absolute;
}
.aboutCont .rowTwo .indBox p {
  width: 100%;
  margin-top: 10px;
}
.aboutCont .rowTwo .indBox .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.aboutCont .rowTwo .indBox .buttonContainer .button {
  background-color: darkblue;
  border-radius: 30px;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.aboutCont .rowThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.aboutCont .rowThree .indBox {
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutCont .rowThree .indBox .photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutCont .rowThree .indBox .photo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}
.aboutCont .rowThree .indBox .photo .buttonContainerTop {
  position: absolute;
  opacity: 0;
}
.aboutCont .rowThree .indBox .photo .buttonContainerTop .button {
  background-color: darkblue;
  border-radius: 30px;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.aboutCont .rowThree .indBox .photo:hover .buttonContainerTop {
  opacity: 1;
}
.aboutCont .rowThree .indBox p {
  width: 100%;
  margin-top: 10px;
}
.aboutCont .rowThree .indBox .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.aboutCont .rowThree .indBox .buttonContainer .button {
  background-color: darkblue;
  border-radius: 30px;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  .aboutCont .rowOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .aboutCont .rowOne .indBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutCont .rowOne .indBox .photo .buttonContainerTop {
    opacity: 1;
  }
  .aboutCont .rowOne .indBox p {
    width: 80vw;
  }
  .aboutCont .rowTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .aboutCont .rowTwo .indBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutCont .rowTwo .indBox .photo .buttonContainerTop {
    opacity: 1;
  }
  .aboutCont .rowTwo .indBox p {
    width: 80vw;
  }
  .aboutCont .rowThree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .aboutCont .rowThree .indBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutCont .rowThree .indBox .photo .buttonContainerTop {
    opacity: 1;
  }
  .aboutCont .rowThree .indBox p {
    width: 80vw;
  }
}
.galCont {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.galCont .topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.galCont .topRow .infoBox img {
  min-width: 20vw;
}
.galCont .topRow .infoBox p {
  max-width: 40vw;
}
.galCont .bottomParagraph {
  width: 80vw;
  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  .galCont .topRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galCont .topRow .infoBox img {
    width: 100%;
  }
  .galCont .topRow .infoBox p {
    width: 80vw;
    margin-bottom: 20px;
  }
}
.contactContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactContainer #createAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}
.contactContainer #createAccount label {
  text-align: left;
  display: block;
  width: 30vw;
  margin-top: 20px;
}
.contactContainer #createAccount input {
  margin-top: -20px;
  display: block;
  margin: 10px 0;
  width: 30vw;
  height: 50px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}
.contactContainer #createAccount input #submit {
  margin: 0 50px;
}
.contactContainer #createAccount h1 {
  margin-top: 50px;
  text-align: left;
}
.contactContainer #signIn {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactContainer #signIn img {
  width: 200px;
}
.contactContainer #signIn label {
  text-align: left;
  display: block;
  width: 30vw;
  margin-top: 20px;
}
.contactContainer #signIn input {
  margin-top: -20px;
  display: block;
  margin: 10px 0;
  width: 30vw;
  height: 50px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}
.contactContainer #signIn input #submit {
  margin: 0 50px;
}

@media screen and (max-width: 960px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  .contactContainer label {
    min-width: 90vw;
  }
  .contactContainer input {
    min-width: 90vw;
  }
  .contactContainer input .submit {
    margin-bottom: 20px;
  }
  .contactContainer h1 {
    min-width: 90vw;
    text-align: center;
  }
}